<div>
    <div style="text-align: left;padding-left: 5px;">
        <a href back-button type="button" class="btn btn-warning">
            <span class="glyphicon glyphicon-chevron-left">
                <span style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">Επιστροφή</span>
            </span>
        </a>
    </div>
    <div id="content" style="display: flex">
        <div id="leftColumn" class="table-responsive boxContent tableView" style="width: 100%">
            <div>
                <h2 style="text-align: center;"> Κατοχυρωμένοι ρόλοι στον {{uData.fname}} </h2>
            </div>
            <div style="padding: 15px">
                <div style="display: flex">
                    <input name="searchownroles" type="text" ng-model="filter" class="form-control" placeholder="search"
                           style="padding: 5px; width: 100%">
                </div>
                <div>
                    <pagination current-page="currentPageL" total-items="urLength"
                                items-per-page="itemsPerPageL" num-pages="numPagesL"></pagination>
                    <ur-table></ur-table>
                    <pre>total users : {{urLength}}  Page: {{currentPageL}} / {{numPagesL}}</pre>
                </div>
            </div>
        </div>
        <div id="rightColumn" style="width: 100%">
            <div class="table-responsive boxContent" ng-if="!currentRole">
                <div>
                    <h2 style="text-align: center;"> Διαθέσιμοι ρόλοι </h2>
                </div>
                <div style="padding: 15px">
                    <div style="display: flex">
                        <input name="searchexistroles" type="text" ng-model="filterR" class="form-control"
                               placeholder="search"
                               style="padding: 5px; width: 100%">
                    </div>
                    <div>
                        <pagination current-page="currentPageR" total-items="evLength"
                                    items-per-page="itemsPerPageR" num-pages="numPagesR"></pagination>
                        <evr-table></evr-table>
                    </div>
                    <pre>total users : {{evLength}}  Page: {{currentPageR}} / {{numPagesR}}</pre>
                </div>
            </div>
            <div ng-show="currentRole" style="width: 100%">
                <div class="table-responsive boxContent">
                    <div style="padding: 15px">
                        <div>
                            <ev-roles-form></ev-roles-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


