<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>role</th>
            <th>descr</th>
            <th>comments</th>
            <th>exp. Date</th>
            <th>status</th>
            <th>...</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="role in uRoles.slice(((currentPageL-1)*itemsPerPageL),((currentPageL)*itemsPerPageL))|filter:filter"
            style="cursor: pointer" ng-class="{selected: role.id === item.id}">
            <td>{{ role.id }}</td>
            <td>{{ role.role }}</td>
            <td>{{ role.descr }}</td>
            <th>{{ role.pivot.comment }}</th>
            <th>{{ role.pivot.exp_dt}}</th>
            <th>{{ role.pivot.status}}</th>
            <td>
                <button ng-click="editUrData(role)" type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button ng-click="deleteRole(role.id)" type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>