<div id="users_main">
    <div>
        <h2 style="text-align: center;"> Κατάλογος Προσφορών </h2>
    </div>
    <div style="padding: 15px">
        <div style="display: flex">
            <input type="text" ng-model="filter" class="form-control" placeholder="search"
                   style="padding: 5px; width: 100%">
            <button type="button" class="btn btn-primary" ng-click="ctrl.getAll()"
                    style="min-width: 50px; border-radius: 0px;">
                <span class="glyphicon glyphicon-cloud-download"></span>
            </button>
            <a href="#/offers/create" class="btn btn-success thumb" style="min-width: 50px;border-radius: 0px;">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div>
            <pagination current-page="currentPage" total-items="totalItems" items-per-page="itemsPerPage"
                        num-pages="numPages"></pagination>
        </div>
        <div id="data_tbl" class="table-responsive boxContent">
            <table class="sorttable table table-hover table-striped table-responsive header-fixed">
                <thead>
                <tr>
                    <th>
                        <button class="btn btn-link" ng-click="sortBy('promo')">Κείμενο Promo</button>
                        <span class="sortorder" ng-show="propertyName === 'promo'"
                              ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button class="btn btn-link" ng-click="sortBy('comments')">Comments</button>
                        <span class="sortorder" ng-show="propertyName === 'comments'"
                              ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button class="btn btn-link" ng-click="sortBy('from_tm')">Έναρξη Προσφοράς</button>
                        <span class="sortorder" ng-show="propertyName === 'from_tm'"
                              ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button class="btn btn-link" ng-click="sortBy('to_tm')">Λήξη Προσφοράς</button>
                        <span class="sortorder" ng-show="propertyName === 'to_tm'"
                              ng-class="{reverse: reverse}"></span>
                    </th>

                    <th>...</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="offer in dp.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage))|filter:filter|orderBy:propertyName:reverse"
                    style="cursor: pointer" ng-class="{selected: offer.id === item.id}">
                    <td>{{ offer.promo}}</td>
                    <td>{{ offer.comments}}</td>
                    <td>{{ offer.from_tm}}</td>
                    <td>{{ offer.to_tm}}</td>
                    <td>
                        <a href="#/offers/{{offer.id}}" type="button" class="btn btn-info thumb"><span
                                class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#/offers/{{offer.id}}/roles" type="button" class="btn btn-primary thumb"><span
                                class="glyphicon glyphicon-import"></span></a>
                        <a href="#/offers/{{offer.id}}/requests" type="button" class="btn btn-success thumb"><span
                                class="glyphicon glyphicon-transfer"></span></a>
                        <button ng-click="deleteUser(user)" type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <pre>total users : {{dp.length}}  Page: {{currentPage}} / {{numPages}}</pre>
    </div>
</div>
