<div id="users_main">
    <div>
        <h2 style="text-align: center;"> Εταιρίες </h2>
    </div>
    <div style="padding: 15px">
        <div style="display: flex">
            <input type="text" ng-model="filter" class="form-control" placeholder="search"
                   style="padding: 5px; width: 100%">
            <button type="button" class="btn btn-primary" ng-click="ctrl.getAll()"
                    style="min-width: 50px; border-radius: 0px;">
                <span class="glyphicon glyphicon-cloud-download"></span>
            </button>
            <a href="#/company/create" class="btn btn-success thumb" style="min-width: 50px;border-radius: 0px;">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div>
            <pagination current-page="currentPage" total-items="ctrl.totalRows" items-per-page="itemsPerPage"
                        num-pages="numPages"></pagination>
        </div>
        <div id="data_tbl" class="table-responsive boxContent">
            <table class="sorttable table table-hover table-striped table-responsive header-fixed">
                <thead>
                <tr>
                    <th>
                        <button class="btn btn-link" ng-click="sortBy('name')">Όνομα Εταιρίας</button>
                        <span class="sortorder" ng-show="propertyName === 'name'"
                              ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button class="btn btn-link" ng-click="sortBy('decr')">Περιγραφή Εταιρίας</button>
                        <span class="sortorder" ng-show="propertyName === 'decr'"
                              ng-class="{reverse: reverse}"></span>
                    </th>

                    <th>...</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="company in ctrl.dp.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage))|filter:filter|orderBy:propertyName:reverse"
                    style="cursor: pointer" ng-class="{selected: company.id === item.id}">
                    <td>{{ company.name}}</td>
                    <td>{{ company.descr}}</td>
                    <td>
                        <a href="#/company/{{company.id}}" type="button" class="btn btn-info thumb"><span
                                class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#/company/{{company.id}}/roles" type="button" class="btn btn-primary thumb"><span
                                class="glyphicon glyphicon-import"></span></a>
                        <a href="#/company/{{company.id}}/requests" type="button" class="btn btn-success thumb"><span
                                class="glyphicon glyphicon-transfer"></span></a>
                        <button ng-click="ctrl.delete(company)" type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <pre>total companies : {{ctrl.dp.length}}  Page: {{currentPage}} / {{numPages}}</pre>
    </div>
</div>
