<div id="userscategories_main">
    <div><h2 style="text-align: center;"> Κατηγορίες Χρηστών </h2></div>
    <div style="display: flex">
        <input type="text" ng-model="filter" class="form-control" placeholder="search"
               style="padding: 5px; width: 100%">
        <button type="button" class="btn btn-primary" ng-click="getUsersCategories()"
                style="min-width: 50px; border-radius: 0px;">
            <span class="glyphicon glyphicon-cloud-download"></span>
        </button>
        <a href="#/userscategories/create" class="btn btn-success thumb" style="min-width: 50px;border-radius: 0px;">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <div>
        <pagination current-page="currentPage" total-items="totalItems" items-per-page="itemsPerPage"
                    num-pages="numPages"></pagination>
    </div>
    <div id="data_tbl" class="table-responsive boxContent">
        <table class="sorttable table table-hover table-striped table-responsive header-fixed">
            <thead>
            <tr>
                <th>ID</th>
                <th>
                    <button class="btn btn-link" ng-click="sortBy('descr')">Περιγραφή</button>
                    <span class="sortorder" ng-show="propertyName === 'descr'"
                          ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <button class="btn btn-link" ng-click="sortBy('comment')">Σχόλια</button>
                    <span class="sortorder" ng-show="propertyName === 'comment'"
                          ng-class="{reverse: reverse}"></span>
                </th>
                <th>...</th>
            <tbody>
            <tr ng-repeat="userscategory in dp.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage))|filter:filter|orderBy:propertyName:reverse"
                style="cursor: pointer">
                <td>{{ userscategory.id }}</td>
                <td><textarea disabled>{{ userscategory.descr }}</textarea></td>
                <td><textarea disabled>{{ userscategory.comment }}</textarea></td>
                <td>
                    <a href="#/userscategories/{{userscategory.id}}" type="button" class="btn btn-info thumb"><span
                            class="glyphicon glyphicon-pencil"></span></a>
                    <!--<a href="#/userscategories/{{ucategories.id}}/users" type="button" class="btn btn-primary thumb"><span-->
                    <!--class="glyphicon glyphicon-import"></span></a>-->
                    <button ng-click="deleteUsersCategories(userscategory)" type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove
"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <pre>total users categories list : {{dp.length}}  Page: {{currentPage}} / {{numPages}}</pre>
</div>






